/* Your styles here */

h1,
h3 {
    color: rgb(0, 132, 165);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


/* /* h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a {
    line-height: 1.65rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; */

body {
    color: #393d41;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65rem;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.radial {
    border-radius: 50%;
    width: 75%;
}

header {
    background-color: black;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: contain;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2rem;
    border-radius: 5px;
}

.caption {
    margin-bottom: 2rem;
}

.guarantees {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: white;
    background-color: #f04c2f;
    padding: 30px;
}

.special {
    color: white;
    font-size: 2rem;
}

.article {
    margin-bottom: 2rem;
    border-color: 50px #dee1e3;
}

.posts {
    width: 80%;
}

footer {
    background-color: rgb(0, 132, 165);
    color: white;
}

footer a:link {
    color: white;
}