
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8">
    <form>
      <input type="text"
      class="form-control" placeholder="Superhero Name"
      [(ngModel)]="superhero.name" name="name" required>

      <input type="text"
      class="form-control" placeholder="Superhero Alter Ego"
      [(ngModel)]="superhero.alterEgo" name="alterEgo">

      <input type="text"
      class="form-control" placeholder="Superhero Powers"
      [(ngModel)]="superhero.power" name="power">

      <input type="text"
      class="form-control" placeholder="Superhero Enemy"
      [(ngModel)]="superhero.enemy" name="enemy">

      <input type="text"
      class="form-control" placeholder="Superhero Home Planet"
      [(ngModel)]="superhero.planet" name="planet">

      <input type="text"
      class="form-control" placeholder="Superhero Weakness"
      [(ngModel)]="superhero.weakness" name="weakness">
    </form>
  </div>
  <div class="col-2">

  </div>
</div>
