/* IMPOSTAZIONI GENERALI */

body {
    padding: 20px;
    background-image: url(../img/sfondo.png);
    background-size: cover;
    background-size: auto;
}


/* HEADER */

header {
    padding: 10px;
    background: rgb(0, 126, 179);
    background: linear-gradient(180deg, rgba(0, 126, 179, 1) 11%, rgba(0, 83, 135, 1) 100%);
    color: white;
    line-height: 1.8em;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 60%;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.menu {
    list-style-type: none;
    text-align: center;
}


/* MAIN */

main {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.titlepost {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.infopost {
    color: grey;
    margin-bottom: 20px;
}

.content {}

.video {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

ul {
    padding: 5px;
}


/* ELEMENTI NEL MAIN - ARTICLE */


/* TABELLE */


/* FORM */


/* ELEMENTI NELL' ASIDE */


/* FOOTER */