header{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

li{
  font-size: 1.5rem;
}

a{
  font-weight: 600;
  padding: 15px 40px;

}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

.todo{
  color:rgb(111, 19, 150);
}

.completed{
  color: rgb(10, 97, 10);
}
