body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
    display: flex;
    justify-content: center;
    height: 75px;
    padding: 10px;
}

.slogan {
    display: flex;
    justify-content: center;
    color: rgb(0, 107, 93);
    background-color: rgb(250, 246, 215);
}

#thickk {
    font-weight: bolder;
}

.content {
    margin: 25px 35% 5px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.focaccia {
    border-radius: 10px;
}

.description {
    text-align: center;
    color: rgba(134, 134, 134, 0.541);
}