/*phone*/

@media screen and (max-width: 576px) {
    body {
        text-align: center;
        max-width: 576px;
    }
}


/*tablet*/

@media screen and (max-width:768px) {
    main {
        margin: 0 10px
    }
}


/*labtop (medium-large)*/

@media screen and (max-width:1024px) {}


/*desktop*/

@media screen and (min-width: 1025px) {}


/*titles*/

h2 {
    color: brown;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    color: brown;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*nav*/

#navigation ul {
    color: brown;
    padding: 10px 20px;
    list-style: none;
    display: flex;
    background-color: rgb(252, 237, 215);
    align-items: center;
    flex-direction: row;
}

#navigation ul li {
    flex-direction: row;
    background-color: rgb(255, 225, 128);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
}

#navigation ul li img {
    width: 50px;
}

#navigation ul li span {
    font-weight: bold;
    font-size: 1.2em;
}


/*cards*/

#container {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    overflow: hidden;
    border-radius: 50px;
    background-color: rgb(252, 237, 215);
    width: 350px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cards img {
    margin-bottom: 10px;
    max-width: 350px;
}

.cards div {
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    line-height: 25px;
}

.cards button {
    margin-bottom: 10px;
    font-weight: bold;
    color: brown;
    background-color: rgb(255, 225, 128);
    border-radius: 20px;
    border-color: transparent;
    padding: 10px 45px;
}


/*news*/

#news {
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(252, 237, 215);
}

#news h4 {
    font-weight: bold;
    margin-bottom: 15px;
    color: brown;
    font-size: 1.5em;
}

#news p {
    margin-bottom: 15px;
}