<div class="row text-center">
  <div class="col-3">

  </div>
  <div class="col-6">
    <div class="card text-start">
      <img class="card-img-top" src="holder.js/100px180/" alt="Add image here">
      <div class="card-body">
        <h4 class="card-title">Titolo Immagine</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Quas labore a delectus eaque sapiente, ducimus voluptatem dolore quisquam expedita.
          Perspiciatis accusantium placeat quaerat esse, perferendis deserunt et ullam aliquam officia!</p>
      </div>
    </div>
  </div>
  <div class="col-3">

  </div>

</div>
